* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

a, a:active {
    text-decoration: none;
    color: black;
    outline: none;
}

input[type="text"] {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 7px 10px;
    box-shadow: 0 0 3px lightgray;
}

.header {
    margin: 0 20%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    margin: 0;
    padding: 10px 0;
}

.header h2 a {
    color: cornflowerblue;
}

.podcasts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 20%;
}

.podcasts .search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.podcasts .search .count {
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    padding: 2px 5px 1px 5px;
    border-radius: 5px;
    text-align: center;
}

.podcasts .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    column-gap: 20px;
    row-gap: 40px;
}

.podcasts .list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0 0 3px lightgray;
    gap: 5px;
    padding: 5px;
}

.podcasts .list .item .image {
    border-radius: 50%;
    border: 1px solid gainsboro;
    margin-top: -25px;
}

.podcasts .list .item .name {
    text-transform: uppercase;
    text-align: center;
}

.podcasts .list .item .author {
    color: gray;
    text-align: center;
    font-size: .85rem;
}

.podcast {
    display: flex;
    align-items: flex-start;
    margin: 20px 20%;
    gap: 60px;
}

.podcast .podcast-card {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0 0 3px lightgray;
    width: 200px;
    min-width: 200px;
    padding: 10px 7px;
    gap: 10px;
}

.podcast .podcast-card .image-link {
    display: flex;
    justify-content: center;
}

.podcast .podcast-card .image-link img {
    border: 1px solid gainsboro;
    border-radius: 3px;
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.podcast .podcast-card .name-author-link {
    padding-left: 10px;
}

.podcast .podcast-card hr {
    width: 100%;
    border: 0;
    border-top: 1px solid lightgray;
}

.podcast .episodes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.podcast .episodes .count {
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0 0 3px lightgray;
}

.podcast .episodes .count h2 {
    margin: 0;
    padding: 10px;
}

.podcast .episodes .list {
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0 0 3px lightgray;
}

.podcast .episodes .list table {
    width: 100%;
    padding: 15px;
}

.podcast .episodes .list table thead tr th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.podcast .episodes .list table tbody tr td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.podcast .episodes .list table tbody tr td a {
    color: cornflowerblue;
}

.podcast .episodes .list table tbody tr:nth-child(2n + 1) {
    background-color: #eee;
}

.podcast .episode {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0 0 3px lightgray;
    padding: 15px;
    gap: 10px;
    flex-grow: 1;
}

.podcast .episode h2 {
    margin: 0;
}

.podcast .episode a {
    color: cornflowerblue;
}

.podcast .episode div:last-child {
    display: flex;
    align-items: center;
    gap: 7px;
}

.podcast .episode div:last-child audio {
    flex-grow: 1;
}